.header {
    background-color: #DF2E2E;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
}

.text {
    position: relative;
    top: -12px;
    left: 9px;
    font-size: 32px;
}